{% ckan_extends %}

{% block resource_item_explore %}
  {% if not url_is_edit %}
    <div class="btn-group">
      <a href="{{ url }}" class="btn btn-sm btn-outline-primary" aria-label="Preview resource {{ res.name or res.id }}">
        <i class="fa fa-bar-chart-o"></i>
        {{ _('Preview') }}
      </a>
      {% if res.url and res.url_type == 'upload' %}
        <a href="{{ res.url }}" class="btn btn-sm btn-primary resource-url-analytics" target="_blank" aria-label="Download resource {{ res.name or res.id }}">
          <i class="fa fa-arrow-circle-o-down"></i>
          {{ _('Download') }}
        </a>
      {% else %}
        <a href="{{ res.url }}" class="btn btn-sm btn-primary resource-url-analytics" target="_blank" aria-label="Go to resource {{ res.name or res.id }}">
          <i class="fa fa-external-link"></i>
          {{ _('Go to resource') }}
        </a>
      {% endif %}
      {% if can_edit %}
        <a href="{{ h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) }}" class="btn btn-sm btn-primary" aria-label="Edit resource {{ res.name or res.id }}">
          <i class="fa fa-pencil-square-o"></i>
          {{ _('Edit') }}
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
