{% ckan_extends %}

{% block package_description %}
  {{ super() }}

  {% set arcgis_link = h.opendata_theme_get_arcgis_link(pkg.resources) %}
  {% if arcgis_link %}
    <a href="{{ arcgis_link }}" class="btn btn-primary" target="_blank">
      <i class="fa fa-map"></i> MAP
    </a>
  {% endif %}

  {% if 'featuredviews' in g.plugins %}
    {% set view = h.get_canonical_resource_view(pkg.id) %}
    {% if view %}
      {% snippet 'package/snippets/resource_view.html',
          resource_view = view['resource_view'],
          resource = view['resource'],
          package = pkg
      %}
    {% endif %}
  {% endif %}
{% endblock %}
