{% ckan_extends %}

{%- block header %}
  <div class="alert alert-danger alert-dismissible mb-0" role="alert">
    <strong>Southern California Wildfire Information:</strong> To support Californians impacted by the fires, the state has put together a new website where they can find the information such as real-time information on fires, location of shelters and resources, how to apply for financial assistance, and for alerts and safety tips: <a href="https://www.ca.gov/LAfires/" target="_blank">https://www.ca.gov/LAfires/</a>. For the latest park unit closures due to the fires, please visit <a href="https://www.parks.ca.gov/Incidents">parks.ca.gov/Incidents</a>.
  </div>
  {{ super() }}
{% endblock -%}
