.main-navigation .main-navigation-title {
  background: url(/img/sugarland-logo-dark.png) no-repeat center #F9A01B;
  padding: 112px;
}
.main-navigation a {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 69px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 15px;
  height: 69px;
}
.main-navigation li {
  border-top: 3px solid #091f2f;
}
.masthead .nav > li > a,
.masthead a {
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}