{% extends "page.html" %}

{% block subtitle %}Custom Search{% endblock %}

{%- block header %}
{% endblock -%}

{% block breadcrumb_content %}{% endblock %}

{% block pre_primary %}
<h1>Statewide Agreements and Contracts</h1>
<p>In 2023 the Idaho Legislature signed into law Idaho Code 67-1085A enhancing transparency in Idaho's state government by requiring all state agencies to provide a comprehensive list of all agreements entered into, including any memorandum of agreement or memorandum of understanding, within ten (10) days of entering into such agreements.</p>
<p>Below, you can search for and explore statewide agreements and contracts in various ways including by agency, date, subject area, type and many others. You can easily review details such as the purpose, parties involved, and terms of each agreement. By making these documents accessible, citizens are empowered to learn how government entities collaborate, make decisions, and allocate resources, ensuring accountability and transparency in state operations.</p>
<hr>
<article class="module">
  <header class="module-content page-header">
    <ul class="nav nav-tabs">
      {{ h.build_nav_icon('custom-search.custom_search', 'Search Statewide Agreements and Contracts') }}
      {{ h.build_nav_icon('custom-search.custom_browse', 'Browse by Agency') }}
    </ul>
  </header>
</article>
{% endblock %}

{%- block footer %}
{% endblock -%}