.dataset-list .dataset-item .dataset-resources,
.dataset-list .dataset-item .package-item-note,
.dataset-list .dataset-item .package-item-date {
  padding-left: 115px;
}

.dataset-item {
  color: #131517;
}

.masthead .nav-collapse {
  background: #eff2f5;
  padding-top: 0;
  margin-top: 30px;
  z-index: 100;
}

#dataset-map .module-heading .action {
  color: #ffffff;
}

#field-sitewide-search {
  height: 26px;
}

#footer-attribution-content {
  display: inline;
  right: 20%
}

#footer-attribution-content img {
  max-height: 25px;
  padding-right: 10px;
}

#twitter-widget-0,
#twitter-widget-1 {
  height: 620px !important;
}

a {
  color: #165cab;
}

a:-webkit-any-link:focus {
  transition: none;
  outline: 2px solid #0095ff;
  outline-offset: 2px;
}

a.browse-group {
  background-color: #fff;
  padding: 1%;
}

a.tag:hover {
  -moz-box-shadow: inset 0 1px 0 #165cab;
  -webkit-box-shadow: inset 0 1px 0 #165cab;
  background-color: #165cab;
  border: 1px solid #165cab;
  box-shadow: inset 0 1px 0 #165cab;
}

article.module .module-content .table-striped tbody tr:nth-child(even) td,
article.module .module-content .table-striped tbody tr:nth-child(even) th {
  background-color: #fff;
}

aside .filters .accordion-body {
  border: 1px solid #d3d3d3;
}

aside .module.module-narrow .module-content {
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  margin: 0;
}

body {
  background: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #131517;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  padding: 0 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #112e51;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h1.hero-text-heading.heading {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 0;
}

h2.module-heading>i {
  display: none;
}

header .header-image.pull-left {
  display: block;
  line-height: 0;
  padding: 0;
  position: absolute;
  margin: 0;
  top: 10px;
}

.navbar .btn-navbar .icon-bar {
  background-color: #165cab;
}

header.navbar.navbar-static-top.masthead {
  border-bottom: 2px solid #efaa29;
  min-height: 90px;
}

label {
  font-size: 14px;
}

li.dataset-item .dataset-heading a {
  color: #165cab;
}

th,
.dataset-label {
  text-transform: uppercase;
}

thead {
  background-color: #f2f2f2;
}

ul.menu {
  margin-left: 0;
}

[role=main] {
  min-height: 320px;
}

[role=main]>#content {
  margin-top: 8px;
}

[role=main],
.main {
  padding-top: 4px;
}

[role=main].hero {
  background: url(".././img/nyc_hero_img.jpg");
  background-color: transparent;
  background-size: cover;
}

.accordion-group {
  border: none;
  margin-bottom: 0;
}

.accordion-heading {
  background-color: #eff2f5;
  border-bottom: 0;
  color: #131517;
  font-size: 16px;
  position: relative;
  margin: 0;
  padding: 9px 21px 9px 12px;
}

.accordion-heading a {
  color: #131517;
}

.accordion-toggle h2.accordion-heading:after {
  color: #131517;
  content: "\f077";
  font-family: "fontawesome";
  font-weight: bold;
  right: 10px;
  position: absolute;
}

.accordion-toggle.collapsed h2.accordion-heading:after {
  content: "\f078";
}

.account {
  min-height: 50px;
}

.account ul {
  min-height: 50px;
}

.account li {
  display: inline-block;
}

.account-masthead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.account-masthead .account ul li {
  border-left: none;
}

.account-masthead .account ul li a:hover,
.account-masthead .account ul li a:focus {
  background: #469c23;
}

.account.avatar.authed ul,
.account.not-authed ul {
  padding-top: 0;
}

.account.avatar.authed ul a,
.account.not-authed ul a {
  padding: 14px 7px;
  text-decoration: none;
}

.activity .item .date {
  color: #767676;
}

.attribution p span {
  text-transform: uppercase;
}

.banner {
  background-color: #31383c;
}

.box,
.wrapper,
.label,
.media-view:hover,
.media-view.hovered,
.media-view {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}

.search-block {
  min-height: 100px;
}

.search-hint {
  display: table;
  text-align: left;
  margin-top: 5px;
}

.search-block .search-hint {
  color: #131517;
}

.search-hint .module-content{
  padding-right: 0;
}

.search-doc {
  text-align: right;
}

.search-form {
  margin-left: 0px;
}

.slick-slide img {
  height: 145px;
  width: 100%;
}

.browse-group {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: center;
  transition: all 400ms;
  vertical-align: top;
  width: auto;
}

.browse-group-image {
  margin: 12px;
  max-height: 100px;
  max-width: 85%;
  height: 65px;
}

.browse-group-title {
  display: block;
  color: #165cab;
  font-size: 28px;
}

.browse-group-display-name {
  color: #165cab;
  padding-top: 24px;
}

.browse-heading {
  margin-bottom: 28px;
}

.browse-topic-title {
  color: #31383c;
}

.btn,
.label {
  background-image: none;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #085871;
  border: 1px solid #085871;
}

.btn-group>.btn,
.form-horizontal>.btn,
.btn-small {
  padding: 4px 12px;
}

.btn-primary,
.btn-success {
  background: #044187;
  border: 1px solid #07305c;
  box-shadow: inset 0 2em 1.8em -1em rgba(31, 118, 216, 0.7);
  color: white;
}

.btn-primary:hover,
.btn-success:hover {
  background-color: #044187;
  box-shadow: inset 0 1em 1em -1em rgba(31, 118, 216, 0.7);
}

.btn-danger {
  background: #b23e24;
  border: 1px solid #942a12;
  box-shadow: inset 0 2em 1.8em -1em #d15336;
  color: white;
}

.btn-danger:hover {
  border: 1px solid #6b1c0b;
  box-shadow: none;
}

.context-info h1.heading {
  font-size: 17.5px !important;
  hyphens: none;
  word-break: keep-all;
  -ms-hyphens: none;
}

.control-required {
  color: #ff0000;
  font-size: 18px;
}

.dataset-heading {
  font-size: 18px;
}

.dataset-heading a {
  color: #31383c;
}

.dataset-heading a:hover,
.dataset-heading a:focus {
  color: #1f76d8;
}

.dataset-private.pull-right {
  margin-right: 5px;
}

.datepicker {
  background-color: #fff;
}

.nav .dropdown-menu,
.resource-item .dropdown-menu {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #0a4b6e;
  border: none;
  border-radius: 0;
  padding: 0;
}

.nav .dropdown-menu>li>a,
.resource-item .dropdown-menu>li>a {
  color: #ffffff;
  padding: 14px 20px;
}

.nav .dropdown-menu>li>a:hover,
.nav .dropdown-menu>li>a:focus,
.nav .dropdown-submenu:hover>a,
.nav .dropdown-submenu:focus>a,
.resource-item .dropdown-menu>li>a:hover,
.resource-item .dropdown-menu>li>a:focus,
.resource-item .dropdown-submenu:hover>a,
.resource-item .dropdown-submenu:focus>a {
  background-image: -moz-linear-gradient(top, #126c9c, #126c9c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#126c9c), to(#126c9c));
  background-image: -o-linear-gradient(top, #126c9c, #126c9c);
  background-image: linear-gradient(to bottom, #126c9c, #126c9c);
  background-repeat: repeat-x;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.featured-heading {
  color: #ffffff;
}

.feedback-count {
  color: #20c3c4;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 0;
}

.feedback-icons {
  padding: 20px 20px 30px;
}

.filtered.pill {
  background-color: #165cab;
}

.form-actions {
  text-align: right;
  border-top: none;
}

.form-actions.submit-form {
  border-top: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}

.form-inline.form-select.lang-select {
  margin-top: 17px;
}

.getstarted {
  background-color: transparent;
  border: 1px solid #6e7a81;
  color: #6e7a81;
}

.hero {
  background-color: #eff2f5;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover !important;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.hero .container {
  padding: 25px 0;
  position: relative;
  z-index: 5;
}

.hero .module-search {
  padding-top: 0;
}

.hero .row {
  height: inherit;
}

.tint {
  background-color: rgba(31, 84, 155, 0.7);
}

.hero-text {
  color: #ffffff;
}

.hero-text-heading {
  font-size: 36px;
}

.hero-text-description {
  font-size: 18px;
}

.hero-text-description a {
  color: #ffffff;
}

.hero-text-heading.heading,
.hero-text-description.secondary-heading {
  color: #ffffff;
}

.hero-text-description.secondary-heading {
  line-height: 1.25em;
  color: #fff;
  font-size: 24px;
}

.hero-text-description.secondary-heading p:first-child strong {
  font-weight: normal;
  line-height: 52px;
}

/*make sure hidden elements are not hidden to assistive technology*/

.hide {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.homepage [role=main] {
  padding: 0px;
}

.homepage .browse-group-display-nam,
.homepage .browse-group-title {
  line-height: 30px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-transform: none;
}

.homepage .module-search {
  background-color: transparent;
}

.homepage .module-search .module-content {
  background-color: transparent;
  border-bottom: none;
  color: #31383c;
}

.homepage .module-search .module-content .heading {
  font-size: 27px;
  margin-bottom: 18px;
}

.homepage .module-search .search-giant input {
  border: 2px solid #165cab;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

.homepage .module-search .tags {
  background-color: #205493;
  padding: 5px 10px 10px;
  zoom: 1;
}

.landing-hero-intro-text .intro-text {
  color: #fff;
  padding-bottom: 1em;
}

.landing-hero-logo {
  background: #165cab;
  margin: 0 auto;
  padding-top: 6px;
  bottom: 0;
  left: 50%;
  height: 90px;
  width: 90px;
}

.landing-hero-logo img {
  padding-top: 15px;
  height: 63px;
  width: auto;
}

.logo {
  display: inline-block;
  max-width: 220px;
  max-height: 75px;
  position: relative;
  top: 0;
}

.main-browse .browse-group,
.slick-showcase .media-item {
  border-top: 2px solid #375F87;
  color: #375F87;
}

.main-carousel {
  background: #eff2f5;
}

.main-featured {
  background: #eff2f5;
}

.main-featured .media-item {
  box-sizing: border-box;
  border: none;
  border-top: 2px solid #375F87;
}

.main-featured .media-item.is-expander:hover {
  padding-bottom: 15px;
}

.main-featured .module-content,
.main-featured .media-grid {
  background-color: transparent;
  border: 0;
}

.main-featured .truncator-more {
  display: none;
}

.main-search {
  padding-top: 0;
}

.main-updates {
  background: #f3f3f3;
}

.main-updates li.dataset-item {
  background-color: #fff;
  box-sizing: border-box;
  display: block;
  min-height: 165px;
}

.main-updates li.dataset-item .dataset-heading {
  padding-top: 30px;
}

.masonry-brick .count {
  font-weight: normal;
}

.masthead {
  background: #ffffff none;
}

.masthead input[type="text"] {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 0;
  border-radius: 0;
  color: black;
}

.masthead .btn-navbar {
  margin-bottom: 15px;
}

.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus,
.masthead .btn-navbar:active,
.masthead .btn-navbar.active,
.masthead .btn-navbar.disabled,
.masthead .btn-navbar[disabled] {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.masthead .nav>li>a:focus,
.masthead .nav>.active>a:focus {
  color: #212121;
}

.masthead .nav>li>a:hover,
.masthead .nav>.active>a,
.masthead .nav>.active>a:hover {
  color: #014e78;
}

.masthead .nav>li>a,
.masthead a {
  color: #375f87;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.masthead .navbar .nav-pills li a:hover,
.masthead .navbar .nav-pills li.active a,
.masthead a:hover {
  background-color: transparent;
  color: #165cab;
  border-bottom: 2px solid #165cab;
}

.masthead .header-image .navbar .nav-pills li a:hover,
.masthead .header-image .navbar .nav-pills li.active a,
.masthead .header-image a:hover {
  border-bottom: none;
}

.masthead .navbar .nav-pills li a.s:hover,
.masthead .navbar .nav-pills li.active a.s,
.masthead a.s:hover {
  background-color: #fff;
}

.masthead .navigation {
  margin-right: 0;
}

.masthead .section.site-search.simple-input {
  float: right;
  margin: 20px 0;
  position: relative;
}

.masthead .site-search {
  margin: 2px 2px 22px 0;
}

.masthead .site-search input {
  background-color: transparent;
  box-shadow: none;
  padding: 4px 10px 4px 25px;
  width: 144px;
}

.media-grid {
  background: transparent;
  border: none;
}

.media-grid.masonry .media-heading {
  color: #014e78;
  display: block;
  font-size: 20px;
  text-transform: none;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.media-heading {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  color: #165cab;
  hyphens: none;
  word-break: keep-all;
}

.media-item {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-color: white;
  border-radius: 0px;
  float: left;
  padding: 25px;
  position: relative;
  transition: background-color 400ms;
  margin: 15px 0 0 15px;
  width: 189px;
}

.media-item:hover,
.media-item:focus,
.browse-group:hover,
.browse-group:focus {
  background-color: #c2e5ff;
}

#group-search-form~ul .media-item.masonry-brick {
  height: 120px;
}

#group-search-form~ul .media-item.masonry-brick img {
  max-height: 65px;
  max-width: 65px;
}

.media-item.masonry-brick {
  border: none;
  padding: 36px;
  text-align: center;
  /*these three lines are temporary, we need to write a function to cut off the words!*/
  height: 260px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.media-item.slick-slide {
  border-radius: 0px !important;
}


/*these lines are temporary, we need to write a function to cut off the words!*/

.media-item.masonry-brick p {
  overflow-y: hidden;
  display: -webkit-box;
  max-height: 40px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.media-item .media-image {
  margin-bottom: 15px;
}

.media-item.organization-item-list {
  border: 1px solid #e3e3e3;
  padding: 14px;
  text-align: center;
}

.media-item.organization-item-list .media-image {
  max-width: 126px;
  height: auto;
}

.media-item h3 {
  color: #112e51;
  font-size: 20px;
  text-transform: none;
  font-weight: normal;
  overflow-y: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.media-view {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.media-view>.banner {
  display: none;
}

.module-content {
  background-color: transparent;
}

.module-content-about img {
  display: block;
  margin: 40px 0 10px 0;
}

.module-footer {
  padding: 0;
  border: none;
}

.module-footer .read-more {
  color: #666666;
  font-weight: normal;
}

.module-grid {
  background: #fbfbfb none;
}

.module.module-narrow .module-heading {
  background: #eff2f5;
  color: #131517;
  font-size: 16px;
}

.module.module-narrow.module-shallow h2 {
  background-color: #165cab;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 7px 15px;
  position: relative;
}

.secondary .module.module-narrow.resources {
  border: 1px solid #dddddd;
}

.secondary .module.module-narrow.social {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.module.module-resource {
  border-bottom: none;
  margin-bottom: 25px;
}

.module-resource .muted.ellipsis a {
  text-transform: none;
}

.module-narrow.module-shallow.accordion-group .collapse.accordion-body {
  border: 1px solid #e5e5e5;
}

.nav .label,
.badge {
  background-color: #165cab;
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: none;
}

.nav-item.active>a,
.nav-aside li.active a {
  background-color: #D5E8F6;
  color: #165cab;
  position: relative;
}

.nav-item.active>a:before,
.nav-aside li.active a:before {
  background-image: none;
}

.nav-pills .dropdown .caret {
  margin-top: 0;
}

.nav-pills>li>a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar .nav>li>a {
  padding: 15px;
}

header .navbar .nav>li>a {
  padding: 15px 5px;
}

header .navbar .nav>li>a,
.account.avatar.authed ul a,
.account.not-authed ul a {
  font-size: 16px;
  font-weight: bold;
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover,
.nav-pills>.active>a:focus {
  color: #165cab;
  background-color: transparent;
  border-bottom: 2px solid #165cab;
  margin-bottom: -2px;
}

.navbar .nav>li>.dropdown-menu:before {
  display: none;
}

.navbar .nav>li>.dropdown-menu:after {
  display: none;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-static-top .logo img {
  margin-top: 0;
  max-width: 200px;
}

.navigation-wrapper {
  background-color: #fff;
  display: inline-block;
  float: right;
  height: auto;
}

.navigation-wrapper .container {
  width: 100%;
}

.navigation-wrapper .caret {
  border-top: 4px solid #0c2639;
  vertical-align: middle;
}

.package-read {
  padding-left: 0;
  padding-right: 0;
}

.resource-item .heading {
  color: #165cab;
}

.row.wrapper {
  min-height: 320px;
}

.search-form .search-input.search-giant button {
  margin-top: -15px;
  left: 15px;
  width: 22px;
}

.search-form .search-input.search-giant button i {
  color: #112e51;
  font-size: 24px;
}

.search-form .search-input.search-giant input {
  border: 2px solid #165cab;
  border-radius: 4px;
}

.search-form h2 {
  color: #375F87;
}

.search-form .filter-list {
  margin: 10px 0;
}

.search-form a.remove:hover {
  color: #c60;
  text-decoration: none;
}

.secondary .module-content {
  border: 1px solid #e5e5e5;
}

.secondary .module.module-narrow.module-shallow h2 {
  position: static;
}

.secondary-heading {
  color: #112e51;
  font-weight: normal;
  margin-bottom: 26px;
}

.section.site-search.simple-input [class^="icon-"] {
  font-size: 20px;
}

.select2-container {
  margin-top: 1px;
  margin-bottom: 5px;
}

.select2-container-multi.select2-container .select2-choices {
  padding-top: 0;
  padding-bottom: 0;
}

.showcase-container {
  margin-left: -10px;
  margin-top: 30px;
}

.showcase-container h2 a {
  color: #375F87;
  font-size: 30px;
}

.main-featured .heading,
.main-browse .heading,
.main-updates .heading {
  border-bottom: 2px solid #165cab;
}

.main-browse,
.main-updates {
  background: #eff2f5;
}

.simple-input .field .btn-search {
  color: #555555;
  right: 10px;
  height: 25px;
  width: 25px;
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

.site-search.simple-input {
  border: 1px solid rgb(205, 205, 205);
}

.nav-collapse.in.collapse .nav.nav-pills li:hover {
  background-color: #165cab;
}

.nav-collapse.in.collapse .nav.nav-pills li:hover a {
  color: #fff;
}

.spinner {
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
  background-color: #fff;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 100;
  top: 90px;
  right: 0;
  left: 0;
  height: 40px;
  width: 40px;
}

.supporting-text {
  color: #165cab;
  font-weight: 400;
  padding-bottom: 1em;
  margin-top: 30px;
}

.thumb-wrapper.float-left {
  /*  background-image: url(/img/dataset_background.svg);*/
  background-size: cover;
  float: left;
  margin-top: 0;
  height: 165px;
}

.unpublishedfeedback.well {
  background-color: transparent;
}

.unpublishfeedback .control-label {
  font-weight: normal;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
    transform: scale(1);
  }
}

.outer {
  margin-top: 16px;
  overflow: hidden;
  position: relative;
  height: 420px;
  width: 100%;
}

.inner {
  position: absolute;
  height: 100px;
  width: 100%;
}

@media (max-width: 1200px) {
  #member-table {
    table-layout: auto;
  }
  a.browse-group {
    width: 190px;
  }
  .main-updates .span6 {
    width: 100%;
  }
  .primary aside.tertiary {
    margin-left: 0;
    width: 100%;
  }
  .primary .primary {
    width: 100%;
  }
  .navigation-wrapper {
    position: relative;
  }
}

@media (max-width: 979px) {
  .account.avatar.authed ul,
  .account.not-authed ul {
    float: right;
  }
  a.browse-group {
    width: 29%;
  }
  .primary .nav.nav-tabs i {
    display: none;
  }
  .masthead .site-search {
    display: inline;
  }
  .nav .dropdown .dropdown-menu,
  .js .dropdown:hover .dropdown-menu {
    display: block;
  }
  .nav-collapse .dropdown-menu {
    background-color: #0a4b6e;
    margin: 0px
  }
  .nav-collapse .nav>li>a,
  .nav-collapse .dropdown-menu a {
    color: #333333;
  }
  .navigation-wrapper {
    position: relative;
    background: none;
    width: 100%;
    background-color: #fff;
    display: inline-block;
    float: right;
    height: 0px;
    width: calc(100% + 40px);
  }
  .navigation-wrapper .container {
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
  }
  .resource-item .btn-group {
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
  }
  .nav-tabs {
    border-bottom: none;
  }
  header .nav-collapse .nav>li>a {
    padding: 25px 40px;
  }
}

@media (max-width: 767px) {
  #block-ckan-sitewide-search-bar {
    position: static;
    width: auto;
  }
  .homepage .search-doc {
    float: left;
    text-align: left;
  }
  .search-block {
    margin-bottom: 20px;
  }
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .site-footer .container .row {
    padding: 0px;
    margin-left: -10px;
  }
  [role=main] .primary {
    float: none;
  }
  .masthead .btn-navbar,
  .masthead .btn-navbar:hover,
  .masthead .btn-navbar:focus,
  .masthead .btn-navbar:active,
  .masthead .btn-navbar.active,
  .masthead .btn-navbar.disabled,
  .masthead .btn-navbar[disabled] {
    margin-top: 18px;
    margin-bottom: 9px;
  }
  .masthead .site-search {
    display: block;
    clear: both;
    width: 100%;
  }
  .nav .dropdown .dropdown-menu,
  .nav .dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  .package-read {
    padding-left: 20px;
    padding-right: 20px;
  }
  .module-content.page-header {
    padding: 20px;
  }
  .page-header .nav-tabs {
    width: 100%;
  }
  .section.site-search.simple-input {
    margin-bottom: 24px;
  }
  .js [role=main] .secondary .filters {
    top: 85px;
    margin: 20px 0;
  }
  .toolbar {
    display: none;
  }
  [role=main]>#content {
    margin-top: 0px;
  }
  [role=main],
  .main {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
  }
}

@media (max-width: 639px) {
  #recent-list .thumb-wrapper.float-left {
    width: 0px;
    margin-right: 15px;
  }
  #recent-list .thumb-wrapper img {
    display: none;
  }
  .dataset-list-left-icon {
    display: none;
  }
  .page_primary_action .dataset-list .dataset-item .dataset-resources,
  .main-responsive-panel .dataset-list .dataset-item .dataset-resources,
  .main-responsive-panel .dataset-list .dataset-item .package-item-note,
  .main-responsive-panel .dataset-list .dataset-item .package-item-date {
    padding-left: 0px;
  }
  a.browse-group {
    width: 44%;
  }
  ul,
  ol {
    margin: 0;
  }
  #popular-list .thumb-wrapper.float-left {
    width: 0px;
    margin-left: 15px;
  }
  #popular-list .thumb-wrapper img {
    display: none;
  }
  .dataset-list .dataset-item .dataset-resources {
    padding: 0;
  }
  .resource-item .btn-group {
    display: none;
  }
  .thumb-wrapper.float-left {
    width: 10px;
  }
}

@media (min-width: 480px) {
  .form-actions.submit-form {
    margin: 0 0 15px 180px;
  }
}

@media (min-width: 640px) {
  .homepage .module-search .search-giant {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  h1.hero-text-heading.heading {
    font-size: 38px;
    line-height: 36px;
    font-size: 2.5rem;
    line-height: 2.55556rem;
    padding: 0;
  }
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
  [role=main],
  .main {
    background: #ffffff;
  }
  .form-actions.submit-form {
    margin: 0 0 15px 130px;
  }
  .search-form .search-input.search-giant input {
    font-size: 16px;
    padding: 10px 15px 10px 45px;
  }
  .main-carousel {
    background-color: transparent;
  }
  .nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .nav-pills .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .resource-item {
    padding: 10px 200px 10px 60px;
  }
  .wrapper {
    background-image: none;
  }
  .node-type-landing-page .landing-hero-intro-text {
    font-size: 30px;
    line-height: 80px;
    font-size: 1.66667rem;
    line-height: 4.44444rem;
  }
  .landing-hero-logo {
    width: 90px;
    height: 90px;
    background: #165cab;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    padding-top: 6px;
  }
  .node-type-landing-page .landing-hero-logo img {
    padding-top: 29px;
    height: auto;
    width: 45px;
  }
  .form-actions .action-info {
    float: none;
    width: 100%;
  }
}

@media (min-width: 980px) {
  .navigation-wrapper {
    position: relative;
    width: calc(95% - 180px);
  }
  .account a {
    display: inline-block;
  }
  .account li {
    display: inline-block;
    padding-top: 0;
  }
  .account.avatar.authed,
  .account.not-authed {
    float: right;
  }
  .account.avatar.authed li,
  .account.not-authed li {
    display: inline;
    padding-top: 0;
  }
  .masthead .nav-collapse {
    float: none;
    margin-top: 20px;
  }
  .landing-hero-logo {
    display: inline-block;
    background-color: black;
    width: 125px;
    height: 100px;
  }
  .node-type-landing-page .landing-hero-logo img {
    padding-top: 29px;
    height: auto;
    width: 45px;
  }
  .package-read h1 {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    clear: both;
  }
  .package-read .top-follow-button {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    clear: both;
    margin-top: 30px;
    float: right;
  }
}


/*make website responsive to larger screen size (> 1200px)*/

@media (min-width: 1200px) {
  .navigation-wrapper {
    position: relative;
  }
  /*make the left panel fixed and right panel responsive*/
  .primary.span12.main-responsive-panel {
    width: 100%;
  }
  .primary.span9.main-responsive-panel {
    width: calc(100% - 237px);
  }
  .primary.span9.main-responsive-panel .primary {
    width: calc(100% - 198px);
  }
  .secondary.span3.aside-fixed-panel {
    width: 219px;
  }
  /*adjust the additional information table field width*/
  .additional-info .table-bordered thead:first-child tr:first-child>th:first-child,
  .additional-info .table-bordered tbody:first-child tr:first-child>td:first-child,
  .additional-info .table-bordered tbody:first-child tr:first-child>th:first-child {
    width: 240px;
  }
  a.browse-group {
    width: 21.7%;
  }
  .control-medium input,
  .control-medium select,
  .control-medium textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 28px;
  }
  .control-custom input:last-of-type {
    width: auto;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 85%;
  }
  .navigation-wrapper>.container {
    width: 100%;
  }
  .dataset-map-expanded #dataset-map {
    width: 100%;
  }
  .homepage .module-search .search-giant {
    margin-left: auto;
    margin-right: auto;
  }
  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after {
    clear: both;
  }
  .span12 {
    width: calc(100% - 20px);
  }
  .span11 {
    width: calc(91.66666667% - 20px);
  }
  .span10 {
    width: calc(83.33333333% - 20px);
  }
  .span9 {
    width: calc(75% - 20px);
  }
  .span8 {
    width: calc(66.66666667% - 20px);
  }
  .span7 {
    width: calc(58.33333333% - 20px);
  }
  .span6 {
    width: calc(50% - 20px);
  }
  .span5 {
    width: calc(41.66666667% - 20px);
  }
  .span4 {
    width: calc(33.33333333% - 20px);
  }
  .span3 {
    width: calc(25% - 20px);
  }
  .span2 {
    width: calc(16.66666667% - 20px);
  }
  .span1 {
    width: calc(8.33333333% - 20px);
  }
  .offset12 {
    margin-left: 105.12820512820514%;
  }
  .offset11 {
    margin-left: 96.58119658119658%;
  }
  .offset10 {
    margin-left: 88.03418803418803%;
  }
  .offset9 {
    margin-left: 79.48717948717949%;
  }
  .offset8 {
    margin-left: 70.94017094017094%;
  }
  .offset7 {
    margin-left: 62.39316239316239%;
  }
  .offset6 {
    margin-left: 53.84615384615385%;
  }
  .offset5 {
    margin-left: 45.2991452991453%;
  }
  .offset4 {
    margin-left: 36.75213675213676%;
  }
  .offset3 {
    margin-left: 28.205128205128204%;
  }
  .offset2 {
    margin-left: 19.65811965811966%;
  }
  .offset1 {
    margin-left: 11.11111111111111%;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"]+[class*="span"] {
    margin-left: 2.564102564102564%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }
  .row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%;
  }
  .row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%;
  }
  .row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%;
  }
  .row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%;
  }
  .row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%;
  }
  .row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%;
  }
  .row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%;
  }
  .row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%;
  }
  .row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%;
  }
  .row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%;
  }
  .row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%;
  }
  .row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  .controls-row [class*="span"]+[class*="span"] {
    margin-left: 30px;
  }
  input.span12,
  textarea.span12,
  .uneditable-input.span12 {
    width: 1156px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 1056px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 956px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 856px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 756px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 656px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 556px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 456px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 356px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 256px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 156px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 56px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails>li {
    margin-left: 30px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
}

@media (min-width: 980px) and (min-height: 768px) {
  [role=main]>#content {
    min-height: 380px;
  }
  .row.wrapper {
    min-height: 380px;
  }
}

@media (min-width: 980px) and (min-height: 869px) {
  [role=main]>#content {
    min-height: 480px;
  }
  .row.wrapper {
    min-height: 480px;
  }
}

@media (min-width: 980px) and (min-height: 970px) {
  [role=main]>#content {
    min-height: 580px;
  }
  .row.wrapper {
    min-height: 580px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  header button[data-toggle="collapse"] {
    right: calc(50% - 374px);
  }
}

/*change the color contrast for 508 compliance*/
.dataset-resources li a {
  background-color: #6e6e6e;
}

.label[data-format=html],
.label[data-format*=html] {
  background-color: #2E759E;
}

.label[data-format=json],
.label[data-format*=json] {
  background-color: #D63B00;
}

.label[data-format=xml],
.label[data-format*=xml] {
  background-color: #D63B00;
}

.label[data-format=text],
.label[data-format*=text] {
  background-color: #1A7EA3;
}

.label[data-format=csv],
.label[data-format*=csv] {
  background-color: #856A00;
}

.label[data-format=xls],
.label[data-format*=xls] {
  background-color: #207E42;
}

.label[data-format=zip],
.label[data-format*=zip] {
  background-color: #686868;
}

.label[data-format=api],
.label[data-format*=api] {
  background-color: #D22D81;
}

.label[data-format=pdf],
.label[data-format*=pdf] {
  background-color: #e0051e;
}

[data-diff] {
  letter-spacing: 0.5px;
}

.label[data-diff="error"],
.label[data-diff="error"] a {
  background-color: #8b0000;
  color: #ffffff;
}

/*change the color contrast for the description of empty datasets*/

.empty {
  color: #767675;
}

.dataset-content .empty {
  padding-left: 0px;
}

.media-item span.count {
  color: #767676;
}


/*change the color contrast for the page number of data sets*/

.pagination ul>.active>a,
.pagination ul>.active>span,
.pagination ul>.active>a:hover,
.pagination ul>.active>span:hover,
.pagination ul>.active>a:focus,
.pagination ul>.active>span:focus {
  background-color: #1f76d8;
  border-color: transparent;
  box-shadow: inset 0 2px 3px 1px rgba(19, 21, 23, .3);
  color: #fff;
  cursor: default;
}

.editor .editor-info-block a {
  color: #007491;
}

.form-horizontal .info-block {
  color: #767676;
}

.form-horizontal .info-block a {
  color: #767676;
}

.nav-tab>a {
  color: #60727f;
}

.thread-likes {
  color: #60727f;
}

.control-custom input {
  width: 110px;
  height: 28px;
}

.control-medium input,
.control-medium select,
.control-medium textarea {
  box-sizing: border-box;
  min-height: 28px;
  width: 100%;
}


/*trigger*/

#hb__trigger {
  display: none;
}

.main-navigation {
  background: #165cab;
  overflow-y: auto;
  position: fixed;
  transition: transform 0.3s;
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  height: 100%;
  height: 100vh;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
}

.hb__trigger:checked~.main-navigation {
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  transition: transform 0.3s;
}

#page {
  transition: transform 0.3s;
}

.hb__trigger:checked~#page {
  -ms-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
  transition: transform 0.3s;
}

.hb__inner,
.hb__inner::before,
.hb__inner::after {
  background-color: #fff;
  border-radius: 0;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.10s;
  transition-timing-function: ease;
  height: 4px;
  width: 27px;
  left: 0px;
  bottom: 0px;
}

.hb__inner::before {
  top: -8px;
  -ms-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -ms-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -moz-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -o-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hb__inner::after {
  bottom: -8px;
  top: -16px;
  -ms-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  -moz-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  -o-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hb__inner::before,
.hb__inner::after {
  content: "";
  display: block;
}

.hb__box {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 27px;
}

.hb__label {
  position: absolute;
  letter-spacing: 0;
  font-size: 10px;
  line-height: 12px;
  font-size: 0.55556rem;
  line-height: 0.66667rem;
  text-transform: uppercase;
  bottom: 10px;
  left: -5px;
  right: -5px;
  text-align: center;
}

.hb__trigger:checked~#page label .hb__inner {
  -ms-transform: translate3d(0, -8px, 0) rotate(-45deg);
  -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
  -moz-transform: translate3d(0, -8px, 0) rotate(-45deg);
  -o-transform: translate3d(0, -8px, 0) rotate(-45deg);
  transform: translate3d(0, -8px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hb__trigger:checked~#page label .hb__label {
  display: none;
}

.hb__trigger:checked~#page .hb__inner::before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0;
}

.hb__trigger:checked~#page .hb__inner::after {
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  top: 0;
}

header .nav-trigger {
  background-color: #fb4d42;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: .75em;
  width: 3.6rem;
  top: 0;
  left: 0;
  bottom: 0;
}

label.nav-trigger:after {
  content: "";
}

.main-navigation .main-navigation-title {
  background: url(".././img/nyc-side-nav-img.png") no-repeat center #fff;
  background-size: auto auto;
  margin: 0;
  padding: 112px;
  text-align: center;
}

.main-navigation a {
  background-color: #165cab;
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
  font-size: 0.77778rem;
  line-height: 1.77778rem;
  line-height: 69px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 15px;
  height: 69px;
}

.main-navigation li {
  list-style-type: none;
  border-top: 3px solid #165cab;
}

.main-navigation a {
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #175182;
}


/*side nav style*/

.side-nav-account .account {
  height: auto;
}

.side-nav-account .account ul {
  height: auto;
}

.side-nav-account .account li {
  height: auto;
  display: block;
}

.side-nav-account .account.avatar.authed ul a,
.side-nav-account .account.not-authed ul a {
  padding: 0px 15px;
}

@media (min-width: 980px) {
  .side-nav-account {
    display: none;
  }
}

.side-nav-account .account.avatar.authed ul a:hover,
.side-nav-account .account.not-authed li.active a {
  background-color: #175182;
}

.btn,
.tag,
.pill,
.label {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 0px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0px;
}

.media-image {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@media (max-width: 369px) {
  a.browse-group {
    width: 100%;
  }
}

.media-item.masonry-brick {
  border: 1px solid #e3e3e3;
  margin-left: 40px;
}

.main-navigation .account.avatar.authed ul a:hover,
.main-navigation .account.not-authed li.active a,
.main-navigation .account ul a:hover {
  background-color: #175182;
}

.hero .module-content.box {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.toolbar .home span {
  display: inline-block;
}

.search-form .search-input.search-giant input {
  padding-left: 45px;
}

.main-updates .heading {
  font-size: 28px;
}

li.dataset-item .dataset-heading a {
  text-transform: none;
  color: #165cab;
  font-size: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
}

.search-form {
  background-size: 383px 9px;
}

.homepage .search-form {
  background-image: none;
}

#organization-search-form {
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.seal-link {
  position: absolute;
  background-color: white;
  padding: 10px;
  left: 45%;
  border-radius: 100%;
  display: none;
}

.table-bordered {
  border-top: 1px solid #c2ced5;
  border-right: 1px solid #c2ced5;
  border-bottom: 1px solid #c2ced5;
  border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #c2ced5;
}

.table-bordered thead:first-child tr:first-child>th:first-child,
.table-bordered tbody:first-child tr:first-child>td:first-child,
.table-bordered tbody:first-child tr:first-child>th:first-child {
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px
}

.table th,
.table-header thead th {
  background-color: #eff2f5;
  color: #131517;
}

.table-striped tbody>tr:nth-child(odd)>th {
  background-color: #eff2f5;
  color: #131517;
  padding: 10px;
}

article.module .module-content .table-striped tbody tr:nth-child(even) th {
  color: #131517;
  padding: 10px;
}

.table-striped tbody>tr:nth-child(odd)>td,
article.module .module-content .table-striped tbody tr:nth-child(even) td {
  text-transform: none;
  padding: 10px;
}

.table-striped tbody>tr:nth-child(odd)>td {
  background-color: #eff2f5;
  color: #131517;
}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
  background-color: #ffffff;
  padding: 10px;
}

.table-striped tbody tr:nth-child(even) th {
  color: #131517;
  padding: 10px;
}

footer.site-footer {
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.site-footer,
.site-footer a,
.site-footer label,
.site-footer small {
  background-color: rgb(9, 31, 47);
}

.s {
  background-color: #fff;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  height: 106px;
  width: 106px;
  padding: 8px;
  position: absolute;
  z-index: 0;
  left: 50%;
  display: none;
  -ms-transform: translateX(-50%) translateY(40%);
  -moz-transform: translateX(-50%) translateY(40%);
  -o-transform: translateX(-50%) translateY(40%);
  -webkit-transform: translateX(-50%) translateY(40%);
  transform: translateX(-50%) translateY(40%);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  box-sizing: border-box;
}

@media screen and (min-width: 1366px) {
  .s {
    display: block;
  }
  h1.hero-text-heading.heading {
    font-size: 64px;
    line-height: 58px;
    font-size: 3.5rem;
    line-height: 3.22222rem;
    padding: 0;
  }
}

.s-i {
  height: 100%;
  width: 100%;
}

.landing-hero-intro-text {
  padding-top: 20px;
}

.hero-text-description secondary-heading {
  padding-top: 30px;
}

.s--u {
  -ms-transform: translateX(-50%) translateY(-20%);
  -moz-transform: translateX(-50%) translateY(-20%);
  -o-transform: translateX(-50%) translateY(-20%);
  -webkit-transform: translateX(-50%) translateY(-20%);
  transform: translateX(-50%) translateY(-20%);
  box-shadow: none;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

header .nav-trigger {
  box-sizing: border-box;
  width: 65px;
  padding: 10px;
}

.page-header .nav-tabs>li a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px
}

.primary .nav.nav-tabs li.active a {
  color: #165cab;
  border: none;
  border-bottom: 2px solid #165cab;
}

.primary .page-header .nav-tabs a {
  border-bottom: 2px solid transparent;
}

.primary .page-header .nav-tabs a:hover {
  border-bottom: 2px solid #165cab;
  box-sizing: border-box;
}

.dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.dropdown-submenu>.dropdown-menu {
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

.well {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.context-info .image img,
.context-info .image a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.site-footer,
.site-footer a,
.site-footer label,
.site-footer small {
  background: 1.75em center #1F549B;
}

.site-footer a {
  color: #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

keygen,
select {
  border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-group>.btn:last-child,
.btn-group>.dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px
}

.btn-group>.btn:first-child {
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px
}

.table-bordered thead:last-child tr:last-child>th:first-child,
.table-bordered tbody:last-child tr:last-child>td:first-child,
.table-bordered tbody:last-child tr:last-child>th:first-child,
.table-bordered tfoot:last-child tr:last-child>td:first-child,
.table-bordered tfoot:last-child tr:last-child>th:first-child {
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
}

.dataset-read .tags {
  margin: 40px 0;
}

.dataset-item {
  padding-bottom: 25px;
}

.package-item-date {
  margin-top: 10px;
}

#dataset-resources h3,
.additional-info h3 {
  border-bottom: 3px solid #165cab;
  margin: 20px 0;
}

section.module-resource p.muted.ellipsis {
  max-width: 500px;
}

.heading-explanation {
  display: block;
  margin-bottom: 25px;
  font-style: italic;
  font-size: 22px;
}

.c3-shape.c3-bar {
  stroke: #165cab;
  fill: #165cab;
  opacity: 1;
}

.ckanext-showcase-image-container {
  margin-top: 60px;
}

#dataset-map-edit-buttons .btn {
  padding: 4px 12px;
}

section.tags h3 {
  margin-bottom: 10px;
}

.ready .gs-w:not(.preview-holder),
.ready .resize-preview-holder {
  width: 100%;
}

@media (min-width:720px) {
  .form-actions .control-required-message:first-child {
    margin-top: -50px;
    margin-left: 130px;
  }
}

@media (max-width:720px) {
  .form-actions .control-required-message:first-child {
    margin-left: 180px;
  }
}

@media (max-width:480px) {
  .form-actions .control-required-message:first-child {
    margin-left: 0px;
  }
}

@media (min-width: 767px) {
  .primary .module-content:first-child {
    padding-top: 0;
  }
  .span9 div.module-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer .attribution {
    float: right;
  }
  .attribution ul {
    margin-top: 10px;
    line-height: 1.35em;
    padding-left: 20px;
  }
  .attribution ul li {
    line-height: 1.35em;
  }
}

@media (max-width: 640px) {
  .page_primary_action .dataset-list .dataset-item .dataset-resources,
  .main-responsive-panel .dataset-list .dataset-item .dataset-resources,
  .main-responsive-panel .dataset-list .dataset-item .package-item-note,
  .main-responsive-panel .dataset-list .dataset-item .package-item-date,
  .main-responsive-panel .dataset-list .dataset-heading {
    padding-left: 0px;
  }
  .dataset-content .empty {
    padding-left: 0px;
  }
  .dataset-heading {
    margin-left: 0px;
  }
}

.footer-links {
  display: inline-block;
}

#dataset-edit .stages {
  margin: 0px;
  margin-bottom: 20px;
}

.stages {
  margin: 0 0 20px;
}

#field-image-upload {
  height: 100%;
}

#dataset-edit .control-group.control-medium {
  margin-top: 20px;
}

.no-toolbar {
  margin-bottom: 40px;
}

#popular-list .dataset-item .dataset-content img,
#recent-list .dataset-item .dataset-content img {
  max-width: 100px;
  margin-top: 0px;
  float: left;
  margin-top: 38px;
}

#popular-list .dataset-item .dataset-content img[src="/img/dataset_background.svg"],
#recent-list .dataset-item .dataset-content img[src="/img/dataset_background.svg"] {
  margin-top: 0px;
  padding: 38px 25px;
}

.dataset-list-left-icon {
  max-height: 80px;
  width: 65px;
  float: left;
  padding-right: 25px;
  padding-left: 25px;
}

.modal {
  width: 80%;
  margin: 0px;
  left: 10%;
  height: 80%;
}

.modal-body {
  max-height: 80%;
}

.media-item.masonry-brick div {
  overflow-y: hidden;
  display: -webkit-box;
  max-height: 80px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.module-content.page-header {
  border-bottom: none;
}

.page-header .content_action {
  margin: 0;
}

button[data-target=".nav-collapse"] {
  position: relative;
  right: 20px;
}

.ckanext-datapreview {
  padding-top: 3px;
}

.resource-view-filters {
  margin-bottom: 10px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  height: 28px;
}

.browse-group-title {
  color: #112e51;
  font-size: 22px;
}

.browse-group-display-name {
  color: #112e51;
  font-size: 22px;
}

.input-append .add-on,
.input-prepend .add-on {
  height: 28px;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  height: 28px;
}


/*for web accessibility*/

.homepage button[type="submit"] span,
.search-form .search-input button span {
  display: inline-block;
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 50;
}

.orgnization .page-header .nav-tabs {
  display: inline-block;
}

.thumb-wrapper.float-left img {
  max-height: 65px;
  max-width: 65px;
  height: 65px;
}

aside .filters .nav-item>a,
.nav-aside li a {
  color: #2d2d2d;
}

.module.module-narrow.module-shallow h2 {
  background-color: #eff2f5;
  color: #2d2d2d;
}

#dataset-map .module-heading .action {
  color: #2d2d2d;
}

article.module .module-content .table-striped tbody tr:nth-child(even) th {
  background-color: transparent;
  color: #131517;
}

.context-info .organization-topic h1.heading {
  font-size: 39px !important;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
}

section.module-content.organization-topic:after {
  content: "";
  display: table;
  clear: both;
}

.top_nums {
  float: right;
  margin-top: 16px;
  text-align: left;
  margin-right: -15px;
}

.top_nums .num-of-datasets,
.top_nums .num-of-followers,
.top-follow-button .nums {
  font-size: 20px;
  color: #a6a6a6;
}

.top_nums .num-of-datasets span,
.top_nums .num-of-followers span,
.top-follow-button .nums span:first-child {
  margin-left: 5px;
  font-size: 30px;
  margin-right: 6px;
  color: #2d2d2d;
}

.organization-topic img.top-img {
  max-height: 65px;
}

.organization article.module,
.topic article.module,
article.dataset-read {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.organization .module-content.page-header,
.organization .dataset-list,
.topic .module-content.page-header,
.topic .dataset-list,
.dataset-read .nav-pills {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 20px;
  margin: 0 -20px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
  border-color: transparent;
}

.organization-topic img {
  max-height: 65px;
  width: auto;
  height: auto;
  max-width: 20%;
  padding-right: 10px;
}

.dataset-list:last-of-type {
  border-bottom: none;
}

.top-follow-button {
  text-align: right;
}

header .notes {
  padding: 20px 0;
}

.dataset-read .nav-pills {
  margin-bottom: 20px;
  padding: 10px 20px;
}

.dataset-read .nav.nav-pills li.active a {
  color: #165cab;
}

.main-responsive-panel.span9 article.module {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.main-responsive-panel.span9 .page-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 20px;
  margin: 0;
}

.main-browse .text-wrapper,
.main-updates .text-wrapper {
  padding-right: 10px;
}

.module-resource ul.nav,
.module-resource>.module-content>.resource-view {
  border: 1px solid #ddd;
  padding: 10px 20px 0;
}

.module-resource ul.nav {
  margin-bottom: 0px;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.module-resource .module-content,
.module-resource .resource-view {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.module-content.topic .strikethrough-wrapper {
  margin-left: -16px;
}

.module-content.topic {
  margin-left: 10px;
  margin-right: -10px;
}

.search-form dt {
  border: 1px solid #165cab
}
