{# The site to config site styles, accessibile to sysadmins#}

{% import 'macros/autoform.html' as autoform %}

{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block styles %}
  {{ super() }}
  {% resource 'theme_config_resource/main' %}
{% endblock %}

{% block primary_content_inner %}

  {{ form.errors(error_summary) }}

  <form method='post' action="" id="theme-config-form" enctype="multipart/form-data">
    {% block theme_config_form %}

      {% block color_config %}
        <div class="control-group control-medium">
          <label class="control-label" for="primary-color">Primary Color</label>
          <div class="controls">
            <input type="text" class='color-picker' id="primary-color" value="{{h.theme_configurator_extract_value_from_string(data, 'primary-color') or '#002664'}}"/>
          </div>
        </div>

        <div class="control-group control-medium">
          <label class="control-label" for="secondary-color">Secondary Color</label>
          <div class="controls">
            <input type="text" class='color-picker' id="secondary-color" value="{{h.theme_configurator_extract_value_from_string(data, 'secondary-color') or '#c60c30'}}"/>
          </div>
        </div>

        <div class="control-group control-medium">
          <label class="control-label" for="footer-color">Footer Color</label>
          <div class="controls">
            <input type="text" class='color-picker' id="footer-color" value="{{h.theme_configurator_extract_value_from_string(data, 'footer-color') or '#002664'}}"/>
          </div>
        </div>

        <div class="control-group control-medium">
          <label class="control-label" for="heading-color">Heading Text Color</label>
          <div class="controls">
            <input type="text" class='color-picker' id="heading-color" value="{{h.theme_configurator_extract_value_from_string(data, 'heading-color') or '#002664'}}"/>
          </div>
        </div>
      {% endblock %}

      {% block font_config %}
        <div class="control-group control-medium">
          <label class="control-label" for="font-family">Font</label>
          <div class="controls">
            <select id="font-family" class="font-selector" value='Times New Roman, Times, serif'>
               {% for font in theme_constants.font_list %}
                  <option value="{{font['value']}}" >
                   {{font["text"]}}
                  </option>
               {% endfor %}
            </select>
          </div>
        </div>
      {% endblock %}

      {% block site_custom_css_config %}
        {{ form.textarea('ckan.site_custom_css', id='field-ckan-site-custom-css', label=_('Custom CSS'), value=data['ckan.site_custom_css'], error=error, placeholder=_('Customizable CSS that changes site style, e.g.
/*change colors of links*/
a {
    color : red;
}
')) }}
      {% endblock %}

      {% block hidden_input_aggregator %}
        {# Aggregates form data before writing into database #}
        <div style="display:none">
          {{ form.textarea(
            'ckanext.og_theme.theme_config',
            label=_('Site Custom Parameters'),
            id='field-ckanext-og-theme-site-custom-parameters',
            value=data['ckanext.og_theme.theme_config'],
            error=error
          ) }}
        </div>

        {# Save timestamp into database #}
        <div style="display:none">
          {{ form.textarea(
            'ckanext.og_theme.theme_config.updated_time',
            label=_('Site Custom Parameters Updated Time'),
            id='field-ckanext-og-theme-site-custom-parameters-updated-time',
            value=h.theme_configurator_get_timestamp(),
            error=error
          ) }}
        </div>
      {% endblock %}

      {% block homepage_template_select %}
        {{ form.select('ckan.homepage_style', id='field-homepage-style', label=_('Homepage Layout'), options=theme_constants.homepage_list, selected=data['ckan.homepage_style'], error=error) }}
      {% endblock %}

      {% block homepage_opengov_pages %}
        {% set page_block_style = "" if data.get('ckan.homepage_style') == '4' else "display:none" %}
        {% set hint_text_style = "display:none" if data.get('ckanext.og_theme.theme_config.homepage_opengov_page') else "" %}
        <div id="homepage-opengov-pages-block" style={{page_block_style}}>
          <p class="control-required" style={{hint_text_style}}> Please select a Page below</p>
          {{form.select('ckanext.og_theme.theme_config.homepage_opengov_page',
          id='field-homepage-opengov-page',
          label=_('Pages'),
          options=theme_constants.pages_list,
          selected=data.get('ckanext.og_theme.theme_config.homepage_opengov_page'),
          error=error)}}
        </div>
      {% endblock %}

    {% endblock %}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" name="save">{{ _('Update Config') }}</button>
    </div>
  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Config Options Guide') }}
    </h2>
    <div class="module-content">
      {% block admin_form_help %}
        {% set about_url = h.url_for(controller='home', action='about') %}
        {% set home_url = h.url_for(controller='home', action='index') %}
        {% set docs_url = 'http://docs.ckan.org/en/latest/theming/index.html' %}
        {% trans %}
          <p><strong>Primary Color:</strong> This is the most used background color of the site. This is the color of the site header, buttons, and borders. </p>
          <p><strong>Secondary Color:</strong> This is the background color you will see when hovering over header tabs. </p>
          <p><strong>Footer Color:</strong> This is the background color of site footer. </p>
          <p><strong>Title Text Color</strong> This is the color of title texts for sections such as “Showcase”, “Groups”, “Topics”, etc. This is not the site title color, which is not changeable. </p>
          <p><strong>Font:</strong> This is the site-wide font. </p>
          <p><strong>Custom CSS:</strong> This is a block of CSS that appears in <code>&lt;head&gt;</code> tag of every page. If you wish to customize the templates more fully we recommend <a href="{{ docs_url }}" target="_blank">reading the documentation</a>. </p>
          <p><strong>Homepage Layout:</strong> This is for choosing a homepage layout. </p>
          <p><strong>Pages:</strong> The Pages selector will appear only if Layout D is selected in the Homepage Layout option. Selecting a Page will make the contents of that Page appear on the Portal Homepage. </p>
      {% endtrans %}
    {% endblock %}
    </div>
  </div>
{% endblock %}
